<!DOCTYPE html>
<html lang="en">
<%- include("./../layout/Head.ejs", {title: "Group manager"}) %>
<body>
    <div class="container">
        <%- include('./../layout/MyNavbar.ejs') %>
        <div class="card mt-2">
            <div class="card-header ">
                Group manager
                <a href="/groups/create" class="btn btn-outline-success">Create</a>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                     Move users to group
                  </button>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>Total user of group</td>
                        <td></td>
                    </tr>
                    <% groups.forEach((group, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= group.group_name %></td>
                            <td><%= group.total_user %></td>
                            <td>
                                <a href="/groups/<%= group.group_id %>/users" class="btn btn-outline-primary">View list user</a>
                                <a href="/groups/<%= group.group_id %>/delete" class="btn btn-outline-danger">Delete</a>
                                <a href="/groups/<%= group.group_id %>/delete" class="btn btn-outline-success">Edit</a>


                            </td>
                        </tr>
                    <% }) %>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Move all user</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="">
             From:
              <select name="from_group" id="">
                <option value="">CEO</option>
                <option value="">CTO</option>
              </select>
              To
              <select name="to_group" id="">
                <option value="">CEO</option>
                <option value="">CTO</option>
              </select>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Move</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>