<!DOCTYPE html>
<html lang="en">
    <%- include ("./layout/Head.ejs", {title: "User list"}) %>
<body>
    <div class="container">
        <%- include ("./layout/MyNavbar.ejs") %>
        <div class="card mt-2">
            <div class="card-header d-flex justify-content-between">
                <div>
                    User list
                    <a href="/users/create" class="btn btn-outline-success">Create</a>
                </div>
                <form action="/users" method="get">
                    <input type="text" value="<%= keyword %>" name="keyword">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Group</th>
                        <th></th>
                    </tr>
                    <% 
                    users.forEach((item, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= item.user_name %></td>
                            <td><%= item.email %></td>
                            <td><%= item.phone %></td>
                            <td><%= item.group_name ? item.group_name : 'No group' %></td>
                            <td>
                                <a onclick="return confirm('Are you sure?')" href="/users/<%= item.id %>/delete" class="btn btn-danger">Delete</a>
                                <a href="/users/<%= item.id %>/update" class="btn btn-primary">Edit</a>
                            </td>
                        </tr>
                    <% }) %>
                </table>
            </div>
        </div>
    </div>
</body>
</html>